<div class="container mx-auto P-2 mt-16">
    <p class="font-bold text-3xl">Наши партнеры</p>
        <div class="flex"><!-- general  -->
            <div class="p-16">
                <img src="../../assets/Group.png">
            </div>
            <div class="p-16">
                <img src="../../assets/Group 3312.png">
            </div>
            <div class="p-16">
                <img src="../../assets//icover-logo 1.svg" >
            </div>
            <div class="p-16">
                <img src="../../assets/Group 3507.png" >
            </div>
            <div class="p-16">
                <img src="../../assets/Слой 1.png" >
            </div>
        </div>

        <div class="border-t border-black"><!-- general  -->
          <div class="p-6">
            <img routerLink="/" class="w-18 h-12" src='../assets/Mozilla_Foundation_logo_(pre_2017).svg.png' >
            <div class="flex pt-8 ">
                <ul class="px-16">
                    <li class="font-semibold text-lg ">Компания</li>
                    <li class="mt-4 font-normal">Сотрудничество</li>
                    <li class="font-normal">Контакты</li>
                    <li class="font-normal">О нас</li>
                </ul>
                <ul class="px-16">
                    <li class="font-semibold text-lg ">Клиенту</li>
                    <li class="mt-4 font-normal">Доставка и оплата</li>
                    <li class="font-normal">Условия обмена и возврата</li>
                </ul>
                <ul class="px-16">
                    <li class="font-semibold text-lg ">Информация</li>
                    <li class="mt-4 font-normal">Политика конфиденциальности</li>
                    <li class="font-normal">Пользовательское соглашение</li>
                </ul>

            </div>
          </div>
        </div>

        <div>
            <p class="font-semibold text-base">Мы принимаем к оплате:</p>
            <div class="container mx-auto flex p-12">
                <img class="w-26 px-4 " src="../../assets/Group 4005.png" >
                <img class="w-26 px-4 " src="../../assets/Group 4007.png">
                <img class="w-26 px-4 " src="../../assets/image 47.png" >
                <img class="w-26 px-4 " src="../../assets/Group 4006.png" >
                <img class="w-26 px-4 " src="../../assets/Group 4009.png" >
            </div>
        </div>
</div>