
<div class="" >
  <nav class="flex justify-between container mx-auto my-2">
    <div class="flex justify-between my-auto">
      <img routerLink="/" class="w-18 h-12" src='../assets/Mozilla_Foundation_logo_(pre_2017).svg.png' >
        <a class="my-auto px-4 text-lg font-medium  " routerLink="/products">Products</a>  
    </div>
    <div class="flex justify-between my-auto">
      <a class="px-4 text-lg font-medium" routerLink="/login">  Login</a>
      <a class="px-4 text-lg font-medium" routerLink="/auth">  Auth</a>
      <a class="px-4 text-lg font-medium" routerLink="/cart">  Cart</a>  
    <button class="px-4" (click)="logOut()">logout</button>
    </div>
  </nav>
</div>
  

<router-outlet></router-outlet>
