
<div class="flex container mx-auto ">
	<div [routerLink]="['/products', product.id]" class="m-4 hover:py-4 scale-45 ease-in duration-300" *ngFor="let product of products">
	  <div class="container rounded-lg mx-auto border-4 w-full border-gray p-8 m-2">
		<img class="h-20" [src]="product.img">
		<p class="font-semibold text-2xl">{{ product.title }}</p>
		<p class="text-base font-medium border-b-4 border-dashed">price: {{ product.price }}</p>
		<p class="text-base font-medium border-b-4 border-dashed">RAM: {{ product.spec.RAM }}</p>
		<p class="text-base font-medium border-b-4 border-dashed">ROM:{{ product.spec.ROM }}</p>
	  </div>
	</div>
  </div>
				
				

<router-outlet></router-outlet>