<div class="container mx-auto">
    <div class="pt-4 container mx-[40px] flex justify-between w-3/2"> <!--general -->
      <div class="p-6 "><!--first img -->
        <p class="z-4 font-semibold text-2xl absolute p-6 text-white">Гаджеты для <br> твоей свободы</p>
        <img class=" h-[300px]  w-[760px]"  src="../../assets/Rectangle 4009.png" >
      </div>
      <div class="bg-white p-12 relative rounded-lg shw"><!--second img -->
          <div class="">
            <p class="font-semibold text-2xl"> <span class="text-[#6B6B6B]">Смартфоны </span> <br>
              И все остальное</p>
              <p class="font-normal text-lg ">Освободи свои руки</p>
              <p class="text-[#3485F3] cursor-pointer font-semibold text-lg" routerLink="/products">Прейти ></p>
          </div>
          <img class="absolute bottom-4 right-1" src="../../assets/Capture-One-Session11427 1.png">
      </div>
    </div>


    <div class="flex mt-4 justify-between"> <!-- second general -->
      <div class="p-12 w-80 rounded-lg bg-white  border-gray">
        <img src="../../assets/Mask Group.png">
        <p class="font-semibold text-lg"><span class="text-[#3485F3]">
          Философия оригами
        </span><br>
          cохранение подвижного механизма без лишнего нагромождения</p>
      </div>
      <div class="p-12 w-80 rounded-lg bg-white  border-gray">
        <img src="../../assets/Group 3973.png">
        <p class="font-semibold text-lg"><span class="text-[#FF0053]">
          Философия оригами
        </span><br>
          cохранение подвижного механизма без лишнего нагромождения</p>
      </div>
      <div class="p-12 w-80 rounded-lg bg-white  border-gray">
        <img src="../../assets/Vector 15.png">
        <p class="font-semibold text-lg"><span class="text-[#20A92D]">
          Философия оригами
        </span><br>
          cохранение подвижного механизма без лишнего нагромождения</p>
      </div>

       <div class="p-12 w-80 rounded-lg bg-white  border-gray">
        <img src="../../assets/Vector 29.png">
        <p class="font-semibold text-lg"><span class="text-[#007AFF]">
          Философия оригами
        </span><br>
          cохранение подвижного механизма без лишнего нагромождения</p>
      </div>
</div>


<div class=" flex justify-between"><!-- third general -->
  <div class="bg-white mt-12 px-16 py-8 rounded-lg ">
    <div class="flex">
      <div class=" justify-start">
        <p class="font-semibold text-3xl text-[#FA8171]">Твоя свобода</p>
      <p class="font-semibold text-3xl">Под любым углом</p>
      <p class="font-normal text-lg">Магнитная подставка для планшета</p>
      </div>
      <img class="" src="../../assets/ezgif-7-54d5847f6b6f 2.png">
    </div>
    <p class="text-[#3485F3] cursor-pointer font-semibold text-lg" routerLink="/products">В каталог ></p>
  </div>


  <div class="bg-white mt-12 px-16 py-8 rounded-lg ">
      <p class="font-semibold text-3xl text-[#20A92D]">В путешествие налегке</p>
      <p class="font-semibold text-3xl">Под любым углом</p>
      <p class="font-normal text-lg">Магнитная подставка для планшета</p>


    <div class="flex">
      <p class="text-[#3485F3] cursor-pointer mt-24 font-semibold text-lg" routerLink="/products">В каталог ></p>
      <img class="" src="../../assets/ezgif-7-54d5847f6b6f 3.png">
    </div>

  </div>
</div>

<router-outlet></router-outlet>
